main.listing-detail {
  position: absolute;
  top: 80px;
  margin: auto;
  padding: 0 200px;
}

.image-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;

  width: fit-content;
}

.image-card {
  background-color: #ffffff;
  border-radius: 21px !important;
  padding: 5px 5px !important;
  border: 1px solid #dddddd !important;
  width: 200px;
  height: 225px;
  margin-left: 5px;
  margin-right: 5px;
}

.listing-image {
  object-fit: cover;
  border-radius: 21px !important;
  width: 100%;
  height: 100%;
}

.listing-stats {
  margin-top: 10px;
}
.listing-stats div {
  margin-bottom: 5px;
}

.listing-stats span {
  margin-right: 5px;
  margin-left: 5px;
}
.listing-stats div {
  font-weight: bold;
}

.border-top {
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-top-color: rgb(221, 221, 221);
  margin-top: 20px;
}

.description {
  line-height: 1.5;
}
