.reviews-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.review-form-container ul {
  list-style: none;
  font-size: small;
  color: red;
  padding-inline-start: 0;
}
.review-form ul {
  list-style: none;
  font-size: small;
  color: red;
  padding-inline-start: 0;
}

.review-box {
  /* border: 1px solid red; */
  width: 400px;
  height: 150px;
  margin-bottom: 20px;
}

.review-box-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.review-time-name {
  margin-left: 10px;
}

.review-time {
  font-size: smaller;
}

.review-user {
  font-weight: bold;
}

.fas.fa-user-circle.review {
  font-size: 50px;
  margin-left: 0;
}

.review-text-box {
  width: 100%;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  box-sizing: border-box;
}

.review-form-container {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

.review-form {
  display: flex;
  flex-direction: column;
}

.review-form textarea {
  font-family: inherit;
  height: 50px;
  margin-bottom: 5px;
  resize: none;
}
.review-form select {
  font-family: inherit;
  width: 50%;
}

.review-modal-form-container {
  width: 500px;
  border-radius: 12px;
}
